
@model System.Data.DataTable
@{
    ViewBag.Title = "Index";
}

<h2>Personal</h2>

<div class="row" style="text-align:right;padding:5px">
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal" id="btnNuevo">Nuevo </button>
    <div id="refrescar" class="col-md-12">
        <table class="table" id="MiTabla">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>Edad</th>
                <th>is_active</th>
                <th></th>

            </tr>
            @for (int i = 0; i < Model.Rows.Count; i++)
            {
                <tr>
                    <td id="Identificador">@Model.Rows[i][0]</td>
                    <td>@Model.Rows[i][1]</td>
                    <td>@Model.Rows[i][2]</td>
                    <td>@Model.Rows[i][3]</td>
                    <td>@Model.Rows[i][4]</td>
                    <td>@Model.Rows[i][5]</td>
                    <td>

                        <button type="submit" id="btnActualizar" onclick="actualizar(@Model.Rows[i][0])" class="btn btn-info" data-toggle="modal" data-target="#myModal">Editar</button>

                        <button type="submit" id="btnEliminar" onclick="borrar(@Model.Rows[i][0])" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="top" data-content="Este registro fue eliminado">
                            Eliminar
                        </button>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script src="https://code.jquery.com/jquery-3.2.1.js"></script>


<div class="container">
    <div class="panel-body" id="Objetos">
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Contenido del Modal-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form id="Insertar">
                        <div class="form-group">
                            <label for="id">Id:</label>
                            <input type="text" disabled="disabled" class="form-control" id="iden">
                        </div>

                        <div class="form-group">
                            <label for="nombre">Nombre:</label>
                            <input type="text" class="form-control" id="nombre">
                        </div>
                        <div class="form-group">
                            <label for="c1">Apelido Paterno:</label>
                            <input type="text" class="form-control" id="apellido1">
                        </div>
                        <div class="form-group">
                            <label for="c2">Apelido Materno</label>
                            <input type="text" class="form-control" id="apellido2">
                        </div>
                        <div class="form-group">
                            <label for="c2">Edad</label>
                            <input type="text" class="form-control" id="edad">
                        </div>
                        <div class="form-group">
                            <label for="c2">Active</label>
                            <select id="active" for="c2">
                                <option value="True">Activo</option>
                                <option value="False">Inactivo</option>
                            </select>
                        </div>
                        <a href="#" id="btnAdd" type="button" onclic ="loadDoc"class="btn btn-default" data-dismiss="modal">Guardar</a>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button"onclic ="agregar" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>

        </div>
    </div>

</div>






<!-- Seccion de Scripts -->
<script>
    function agregar(e) {

        console.log("error3435434354");
        var vnombre = $("#nombre").val();
        console.log(vnombre);
        var appep = $("#apellido1").val();
        console.log(appep);
        var appem = $("#apellido2").val();
        console.log(appem);
        var vedad = parseInt($("#edad").val());
        console.log(vedad);
        var vactive = $("#active").val();
        console.log(vactive);

        if (isNaN(vedad)) vedad = 0;

        $.ajax({
            type: 'POST',
            url: "/Default/Nuevo/",
            data: {
                Nombre: vnombre,
                ApellidoPaterno: appep,
                ApellidoMaterno: appem,
                Edad: vedad,
                Is_Active: vactive
            },
            success: function (data) {
                $('#MiTabla').html(html);
            }

        });
    }
    function actualizar(Id) {
        console.log(Id)

        $('#iden')
        $('#nombre')
        $('#apellido1')
        $('#apellido2')
        $('#edad')
        $('#active')

        $.ajax({
            type: 'GET',
            url: "/Default/Mostrar?Id=" + Id,
            dataType: "Json",
            success: function (response) {
                console.log(response);          
               $('#iden').val(response.Id);
                console.log(response.Id);
                $('#nombre').val(response.Nombre);
                console.log(response.Nombre);
                $('#apellido1').val(response.ApellidoPaterno);
                console.log(response.ApellidoPaterno);
                $('#apellido2').val(response.ApellidoMaterno);
                console.log(response.ApellidoMaterno);
                $('#edad').val(response.Edad);
                console.log(response.Edad);
                $('#active').val(response.Is_Active);
               console.log(response.Is_Active);

               $('#myModal').modal('show');
            }

        }).done((resultado) => {
            console.log("Esta saliendo del ajax");
            console.log(resultado);
            
        });
        return false;

    }

    function agregar(e) {


        console.log("error3435434354");
        var vnombre = $("#nombre").val();
        console.log(vnombre);
        var appep = $("#apellido1").val();
        console.log(appep);
        var appem = $("#apellido2").val();
        console.log(appem);
        var vedad = parseInt($("#edad").val());
        console.log(vedad);
        var vactive = $("#active").val();
        console.log(vactive);

        if (isNaN(vedad)) vedad = 0;

        $.ajax({
            type: 'POST',
            url: "/Default/Editar/",

            data: {
                Nombre: vnombre,
                ApellidoPaterno: appep,
                ApellidoMaterno: appem,
                Edad: vedad,
                Is_Active: vactive
            },
            success: function (data) {
                //valores
            }

        });
    }
    function borrar(Id) {
        console.log(Id)
        var ans = confirm("¿Estas seguro de eliminar este Registro?");
        if (ans) {
            $.ajax({
                url: "/Default/Eliminar/" + Id,
                type: "POST",
                dataType: "json",
                success: function () {

                    $('#MiTabla').DataTable().ajax.reload();
                }

            });
        }
    }

</script>
