
@model System.Data.DataTable
@{
    ViewBag.Title = "Index";
}



<h2>Personal</h2>

<div class="row" style="text-align:right;padding:5px">
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal" id="btnNuevo">Nuevo </button>

    <div class="col-md-12">
        <table class="table">



            <tr>

                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>Edad</th>
                <th>is_active</th>
                <th></th>

            </tr>
            @for (int i = 0; i < Model.Rows.Count; i++)
            {
                <tr>
                    <td>@Model.Rows[i][0]</td>
                    <td>@Model.Rows[i][1]</td>
                    <td>@Model.Rows[i][2]</td>
                    <td>@Model.Rows[i][3]</td>
                    <td>@Model.Rows[i][4]</td>
                    <td>@Model.Rows[i][5]</td>


                    <td>

                        <button type="submit" id="btnActualizar" class="btn btn-info" data-toggle="modal" data-target="#myModal2">Editar</button>




                        <button type="submit" id="btnEliminar" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="top" data-content="Este registro fue eliminado">
                            Eliminar
                        </button>

                    </td>
                </tr>

            }


        </table>


    </div>
</div>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


<div class="container">


    <div class="panel-body" id="Objetos">
    </div>


    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Contenido del Modal-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                </div>
                <div class="modal-body">
                    <form id="Insertar">
                        <div class="form-group">
                            <label for="nombre">Nombre:</label>
                            <input type="text" class="form-control" id="nombre">
                        </div>
                        <div class="form-group">
                            <label for="c1">Apelido Paterno:</label>
                            <input type="text" class="form-control" id="apellido1">
                        </div>
                        <div class="form-group">
                            <label for="c2">Apelido Materno</label>
                            <input type="text" class="form-control" id="apellido2">
                        </div>
                        <div class="form-group">
                            <label for="c2">Edad</label>
                            <input type="text" class="form-control" id="edad">
                        </div>
                        <div class="form-group">
                            <label for="c2">Activo</label>


                            <select id="active" for="c2">
                                <option value="True">Activo</option>

                                <option value="False">Inactivo</option>
                            </select>

                        </div>



                        <a href="#" id="btnAdd" type="button" class="btn btn-default" data-dismiss="modal">Guardar</a>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>

        </div>
    </div>

</div>

<div class="container">


    <div class="panel-body" id="Objetos">
    </div>


    <!-- Modal -->
    <div class="modal fade" id="myModal2" role="dialog">
        <div class="modal-dialog">

            <!-- Contenido del Modal-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                </div>
                <div class="modal-body">
                    <form id="Insertar">
                        <div class="form-group">
                            <label for="nombre">Nombre:</label>
                            <input type="text" class="form-control" id="name" href ="anombre">
                        </div>
                        <div class="form-group">
                            <label for="c1">Apelido Paterno:</label>
                            <input type="text" class="form-control" id="Apellido1" href ="aApellido1 ">
                        </div>
                        <div class="form-group">
                            <label for="c2">Apelido Materno</label>
                            <input type="text" class="form-control" id="Apellido2" href ="aApellido2">
                        </div>
                        <div class="form-group">
                            <label for="c2">Edad</label>
                            <input type="text" class="form-control" id="Edad" href="aedad">
                        </div>
                        <div class="form-group">
                            <label for="c2">Activo</label>


                            <select id="Active" for="c2" href ="aActive">
                                <option value="True">Activo</option>

                                <option value="False">Inactivo</option>
                            </select>

                        </div>



                        <a href="#" id="btnAdd2" type="button" class="btn btn-default" data-dismiss="modal">Guardar</a>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>

        </div>
    </div>

</div>






<!-- Seccion de Scripts -->
<!-- Funcion que manda un mensaje al momeno de eliminar un registro-->
@*<script>
        $(function mostrar () {
            $('[data-toggle="popover"]').popover()
        })

        console.log("hasta aqui funciona");
    </script>*@





<!--Funcion del boton de insertar-->
<script>
    $(document).on('click', '#btnAdd', function (e) {

        console.log("error3435434354");
        var vnombre = $("#name").val();
        var vappep = $("#apellido1").val();
        var appem = $("#apellido2").val();
        var vedad = parseInt( $("#edad").val());
        var vactive = $("#active")
        console.log("error3435434354");

        if (isNaN(vedad)) vedad = 0;

        // ajax que hace la conexion con la base de datos
         $.ajax({
                        type: 'POST',
                        dataType: 'JSON',
                        url: "@Url.Action("Nuevo", "Default")",
                        data: {
                            Nombre: $("#name").val(),
                            ApellidoPaterno: $("#Apellido1").val(),
                            ApellidoMaterno: $("#Apellido2").val(),
                            Edad: $("#Edad").val(),
                            Is_Active: $("#active").val()
                        },
                        success: function (response) {
                        }

                    });
    });

</script>


<!--Funcion del boton eliminar-->

<script>


    $(document).on('click', '#btnEliminar', function (Id) {
        console.log("dgdfgdhfsgh")

        function Borrar(Id) {
            var ans = confirm("¿Estas seguro de eliminar este registri?")

            if (ans) {

                $.ajax({
                    url: "@Url.Action("Eliminar", "Default")" + Id,
                typr: "POST",
                dataType: "json",
                success: function (result) {

                },
            });

            }
        }

    });

</script>



<!--funcion del boton actualizar-->

<script>
    $(document).on('click', '#btnActualizar', function (e) {
        console.log("funciona el boton actualizar")


        var dato1 = $(this).data("name");
        var dato2 = $(this).data("Apellido1");
        var dato3 = $(this).data("Apellido2");
        var dato4 = $(this).data("Edad");
        var dato5 = $(this).data("Active");


        $('#name #aname').val(dato1);
        $('#Apellido1 #aApellido1').val(dato2);
        $('#Apellido2 #aApellido2').val(dato3);
        $('#Edad #aEdad').val(dato4);
        $('#Active #aActive').val(dato5);

            console.log("si llega a esta parte")

            $.ajax({
                url: "@Url.Action("Editar", "Default")",
                typr: "POST",
                dataType: "json",
                success: function (result) {
                    $('#Id').val(result.Id);
                    $('#name').val(result.Nombre);
                    $('#Apellido1').val(result.ApellidoPaterno);
                    $('#Apellido2').val(result.ApellidoMaterno);
                    $('#Edad').val(result.Edad);
                    $('#Active').val(result.Is_Active);

                },
            });

        console.log("pasa por aqui")

        function Update() {
            var res = validate();
            if (res == false) {
                return false;
            }
            console.log("tambian pasa por aqui")
            var empObj = {

                Nombre: $("#name").val([result.Id]),
                ApellidoPaterno: $("#Apellido1").val([result.Nombre]),
                ApellidoMaterno: $("#Apellido2").val([]),
                Edad: $("#Edad").val([]),
                Is_Active: $("#Active").val([])

            };
            console.log("llega hasta aqui");
            $.ajax({
                url: "@Url.Action("Editar", "Default")" + Id,
                data: JSON.stringify(empObj),
                type: "GET",
                dataType: "json",
                success: function (result) {
                    loadData();
                    $("#name").val(""),
                    $("#Apellido1").val(""),
                    $("#Apellido2").val(""),
                    $("#Edad").val(""),
                    $("#Active").val("")
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
    });



</script>
<script>
    $(document).on('click', '#btnAdd2', function (e) {

        console.log("25252525");
        var vnombre = $("#name").val();
        var vappep = $("#Apellido1").val();
        var appem = $("#Apellido2").val();
        var vedad = parseInt( $("#Edad").val());
        var vactive = $("#Active")
        console.log("2626262626");

        if (isNaN(vedad)) vedad = 0;

        // ajax que hace la conexion con la base de datos
         $.ajax({
                        type: 'POST',
                        dataType: 'JSON',
                        url: "@Url.Action("Editar", "Default")",
                        data: {
                            Nombre: $("#name").val(),
                            ApellidoPaterno: $("#Apellido1").val(),
                            ApellidoMaterno: $("#Apellido2").val(),
                            Edad: $("#Edad").val(),
                            Is_Active: $("#Active").val()
                        },
                        success: function (response) {
                        }

                    });
    });

</script>



